#restartGame, .overlayBox {
	display: none;
	fill:#000000;
}

#restartGame:hover {
	opacity: 1;
}

.cloud {
	fill: rgba(255, 182, 255, 1);
	opacity: 0.5;
}

#restart {
	display: none;
}

#restart tspan:hover {
	text-decoration: line-through;
	cursor: pointer;
}