
#cloud {
	position:relative;
	top: calc(50vh - 100px);
	left: calc(50vw - 200px);
	animation: fly 30s infinite alternate;
}


#cloud2 {
	position:relative;
	top: calc(50vh - 100px);
	left: calc(50vw - 200px);
    animation: fly2 30s infinite alternate;
}

#gover_screen {
    filter: blur(0);
}

@keyframes fly {
	0% {transform: translateX(-250px)}
	100% {transform: translateX(400px)}
}

@keyframes fly2 {
	0% {transform: translateX(400px)}
	100% {transform: translateX(-350px)}
}


#restartGame {
	display: none;
	opacity: 0;
	fill:rgba(200, 0, 0, 0.5);
}

#restartGame:hover {
	opacity: 1;
}